{% extends "base.html" %}
{% load mptt_tags thumbnail%}
{% block content %}
<div class="col-md-9 col-md-offset- right-side">
    <div class="row single_place">
        <div class="row single_place">
            <div class="col-md-12">
                <h1>{{single_place.name}}</h1>
            </div>
            <div class="col-md-12">
              <h2 class="text-center">НЕМНОГО СВЕДЕНИЙ</h2>
              {{single_place.description | safe}}
            </div>
            <div class="col-md-12">
                    <h2 class="text-center">ГАЛЕРЕЯ</h2>
                    {% for photo in single_place.photo.all%}
                        <div class="col-md-3 col-md-offset- col-sm-3 col-xs-12 thumb text-center">
                            <div class="image">
                                <a class="fancyimage" data-fancybox-group="group" href="{{photo.image.url}}">

                                <!--<img class="img-responsive" width="250" height="250" alt="{{photo.name}}" src="{{photo.image.url }}" />-->
                                <img class="img-responsive" src="{% thumbnail photo.image 250x250 crop %}" alt="" />
                                {{photo.name}}
                                </a>
                            </div>
                        </div>
                    {%endfor%}

            </div>
        </div>
    </div>
</div>
{% endblock %}