*.pyc
.idea/*
.env/*
static/*
optostack/optostack/local_settings.py
optostack/log/*txt*
optostack/emails/*.log
optostack/debug.py
/media/*
!/media/media.txt
/selenium_errors/*
!/selenium_errors/errors.txt
*.dat
/q

db.sqlite3
fabfile_local.py
celerybeat-schedule

TODO
/q
ghostdriver.log
/emails
