*.pyc
.idea/*
.env/*
static/*
voktyabr/voktyabr/local_settings.py
voktyabr/log/*txt*
voktyabr/emails/*.log
voktyabr/debug.py
/media/*
!/media/media.txt
/selenium_errors/*
!/selenium_errors/errors.txt
*.dat
/q

db.sqlite3
fabfile_local.py
celerybeat-schedule

TODO
/q
ghostdriver.log
/emails
