git-core
mercurial
python-dev
python-pip
python-virtualenv
libpq-dev
libfreetype6
libfreetype6-dev
zlib1g-dev
libxml2-dev
libpcre3
libpcre3-dev
gcc
g++
libbz2-dev
libmhash-dev
libcurl4-openssl-dev
libpng12-dev
libXpm-dev
libc-client-dev
libmcrypt-dev
libedit-dev
libxslt1-dev
libevent-dev
libtool
dialog
apt-utils
python-pip
libncurses5-dev
python3-dev
libjpeg-dev
libcurl4-openssl-dev
software-properties-common
