{% extends "base.html" %}
{% load mptt_tags thumbnail%}
{% block title %}<title>{{page.seo_title|default:"Октябрьский район Волгоградская область"}}</title>{% endblock %}
{% block content %}
<div class="col-md-12 col-md-offset- right-side">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" onclick="App.book_context_views('/book/ajax/{{page.parent.id}}/')" id="btn_book_context" data-toggle="modal" data-target="#myModal">
  Содержание книги
</button>

    {% include "book/modal/context.html" %}
    <div class="row single_place">
        <div class="row single_place">
            <div class="col-md-12">
                <h1>{{single_place.name}}</h1>
            </div>
            <div class="col-md-12">

                    <h2 class="text-center">{{page.name}}</h2>
                    {{page.description | safe}}

            </div>
        </div>
    </div>
</div>
{% endblock %}