{% extends "base.html" %}
{% load mptt_tags thumbnail %}
{% block content %}
<div class="col-md-9 right-side">
    <div class="row slider">
        <div class="col-md-11 col-md-offset-1">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!--<ol class="carousel-indicators">-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
                    <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
                <!--</ol>-->
                <div class="carousel-inner" role="listbox">
                <!-- Wrapper for slides -->
                {% for node in  categories %}
                    {% if forloop.first %}
                         <div class="item active">
                             {% if not node.image_description %}
                                <a href="/single_place/{{node.id}}">

                                    <img  src="http://placehold.it/1050x600&text={{ node.name }}" alt="{{ node.name }}" title="{{ node.name }}" class="img-responsive">
                                    <div class="col-md-10 col-md-offset-1">
                                        <p class="text-center labale">{{node.name}} {{node.type_place}}</p>
                                    </div>
                                </a>
                             {% else %}
                                <a href="/single_place/{{node.id}}">
                                    <img src="{% thumbnail node.image_description 1050x600 crop %}" alt="" />
                                     <div class="col-md-10 col-md-offset-1">
                                         <p class="text-center labale">{{node.name}} {{node.type_place}}</p>
                                     </div>
                                </a>
                             {% endif %}
                        </div>
                    {% else %}
                    <div class="item">
                        {% if not node.image_description %}
                            <a href="/single_place/{{node.id}}">
                                <img src="http://placehold.it/1050x600&text={{ node.name }}" alt="{{ node.name }}" title="{{ node.name }}" class="img-responsive">
                                <div class="col-md-10 col-md-offset-1">
                                    <p class="text-center labale">{{node.type_place}} {{node.name}} </p>
                                </div>
                            </a>
                        {% else %}
                            <a href="/single_place/{{node.id}}">
                                <img src="{% thumbnail node.image_description 1050x600 crop %}" alt="" />
                                <div class="col-md-10 col-md-offset-1">
                                    <p class="text-center labale">{{node.type_place}} {{node.name}}</p>
                                </div>
                            </a>
                        {% endif %}
                    </div>

                    {% endif %}

                {% endfor %}
                </div>

                <!-- Controls -->
                <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
                    <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                    <!--<span class="sr-only">Previous</span>-->
                <!--</a>-->
                <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
                    <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                    <!--<span class="sr-only">Next</span>-->
                <!--</a>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}