@import "http://webfonts.ru/import/ubuntu.css";
@import "http://webfonts.ru/import/roboto.css";

body {
    font-family: Ubuntu;
    font-style: oblique;
    color: rgba(12, 12, 11, 0.76);
}

.container-fluid{max-width: 1500px}
.header-top.lead {
    margin-bottom: 7px;
}
.sell .sell-form {
    border-style: solid;
    border-bottom-color: #ff0000;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.main .left-side {
    border-radius: 7px;
    padding: 20px 20px 20px 0px;
    background-color: rgba(247, 249, 251, 0.71);
}
.place{
    /*background-color: beige;*/
}
.main .right-side a {color: #000;}
.advantage{margin-top: 10px;}

.circle{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid rgba(100,149,237,.5);
  background: rgba(255,235,205,.5);

}
.circle1{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid rgba(100,149,237,.5);
  background: rgba(255,235,205,.5);

}

.drop{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid rgba(100,149,237,.5);
  background: rgba(255,235,205,.5);

}
.news_action{}
.border_full{border: solid 1px black;}

.bottom-side a{color: red}

/*decoration*/
.underline{text-decoration:underline;}

/*color*/
.orange_back{background-color: #ff9900;}
.black{color:black;}
.orange{color: #f6a630;}
.green_back{background-color:#00cc00;}
.blue_back{background-color:#1da6e6;}
.salat_back{background-color: #cbec79;}
.red{color:red;}
.blue_white_back {background-color: #d2f0fb;  }
/*sizi*/
.button_height{height: 40px;}
.height_link_footer{margin-top: 40px;}
.line-height{line-height: 18px;}

.paid{height: 80px;}


.slider img {

    border-radius: 3px;
}
.slider {

}

.place ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    list-style-type: none;
}

.place a.parent {
    color: rgba(12, 12, 11, 0.76);
    font-size: 22px;
}

.place  a.children {
    color: #000;
    text-decoration: none;
}

.place  li:hover a.children {
    /*color: #ffff03;*/
    text-decoration: none;
}

.place li.child {
    margin-top: 2px;
    background-color: #f9f9f0;
    border-radius: 10px;
    padding: 10px 5px 9px 14px;
}

.place li.child:hover {
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.09);
    /*color: rgba(255, 144, 154, 0);*/
    border-radius: 10px;
    padding: 10px 96px 9px 41px;
}

.labale{
    background-color: #f9f9f0;
    padding: 10px 10px 10px 10px;
    /*color: #000;*/
    border-radius: 10px;
}

.labale:hover{
    background-color: rgba(0, 0, 0, 0.09);
    padding: 10px 10px 10px 10px;
    /*color: #ffff03;*/
    border-radius: 10px;
}

.image{
    padding-bottom: 10px;
    border: solid 6px beige;
}

.right-side{
    padding-left: 20px;
    background-color: rgba(246, 246, 246, 0.56);;
}

.single_place{

}

.single_place a{
   color: rgba(37, 56, 115, 0.94) !important;
}

.single_place p{
   font-style: normal;
    color: rgba(12, 12, 11, 0.64);
}

.contact-footer{
    float: right;
}