{% load default %}

<footer class="js--page-footer">
    <div class="footer-widgets">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/"><img alt="Logo" src="/static/theme/images/logo.png" width="200" height="90"></a>
                    </div>
                </div>
                <div class="col-md-7">

                </div>
                <div class="col-md-2">
                    <!--<div class="contact-footer">-->
                        <!--<p class="small">Есть предложения?:</p>-->
                        <!--<p class="lead"><strong>8 961 057 74 99</strong></p>-->
                        <!--<p class="underline">Звоните обсудим</p>-->
                    <!--</div>-->
                </div>
                <div class="col-md-12 blue_white_back">
                    <div class="row">
                        <button type="submit" class="col-md-2 col-md-offset-1 button_height blue_back btn btn-default">ПРИРОДА</button>
                        <button type="submit" class="col-md-3 col-md-offset-1 button_height orange_back btn btn-default">ОБЩЕСТВО</button>
                        <button type="submit" class="col-md-3 col-md-offset-1 button_height green_back btn btn-default">ИНФОРМАЦИЯ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>